*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    min-width:100%;
    position: relative;
}
.header img{
    min-width: 100%;
}
.row{
    min-width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.header .black-shadow{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    background-color: black;
    opacity: 0.5;
}
body{
    width: 100%;
}
.content{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
}
.content .navbar{
    width: 100%;
}
.content .top .logo img{
    width: 90px;
}
.container{
    min-width: 100%!important;
}
.nav-item a{
    color:white;
    font-size:large;
}
.nav-item a:hover{
    color:white;
}
.content{
    max-height: fit-content;
}
.content .row{
    max-height: 50%;
}
.bottom .col-6{
    color:white;
}
.bottom .col-6 h1{
    font-size:4vw;
    font-weight: bolder;
    padding-bottom: 7vh;
}
.bottom .col-6 p{
    font-size: 2vw;
}
.row{
    min-width: 100%;
}
.numbers .row .con{
    text-align: center;
}

.numbers .row .con h1{
    font-size:4vw;
    font-weight: bolder;
    color: #0d0;
}

.numbers .row .con b{
    font-size: 2vw;
}
.learn-more .con h2{
    font-size: 3vw;
    font-style: normal;
}
.learn-more .conh2 strong{
    font-style: bold;
}
.learn-more .con p{
    font-size: 1.8vw;
}
.learn-more .con p a{
    color: #0d0;
    border-bottom: 1px solid #0d0;
}
.learn-more .con p a:hover{
    text-decoration: none;
}
.container{
    padding: 0 !important;
    margin: 0 !important;
}
.courses{
    background-color: #0d0;
}

.courses .con .img img{
    width: 100%;
}

.rec-partners .title{
    text-align: center;
}
.rec-partners .title h4{
    font-size: 2.5vw;
    font-weight:400;
}

.rec-partners .title p{
    font-size: 1.5vw;
    padding-top: 1vw;
}
img{
    max-width: 100%;
}
.title{
    text-align: center;
    font-size: 2.5vw;
    font-weight:700;
}
.fundings{
    border-bottom: 1px solid black;
}
.footer{
    background-color: black;
    min-height: 15vh;
}

.icon a{
    text-decoration: none;
    color: white;
}
.newsletter{
    min-height: 30vh;
}